#container {
    display: grid;
    grid-template-areas: 
    'header'
    'results'
    'main'
    'right'
    'footer';
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (min-width: 640px) {
    #container {
        grid-template-areas: 
        'header header header header'
        'results results main main'
        'results results right right'
        'footer footer footer footer';
    }
}

@media only screen and (min-width: 960px) {
    #container {
        grid-template-areas: 
        'header header header header header header header header'
        'results results main main main right right right'
        'footer footer footer footer footer footer footer footer';
    }
}

#container > div {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 5px;
}

.header, .main, .right, .footer {
    padding: 20px;
}

.header, .results, .footer {
    text-align: center;
}

.header {
    grid-area: header;
}

.results {
    grid-area: results;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
    min-width: 320px;
}

.footer {
    grid-area: footer;
}