#container {
    display: grid;
    grid-template-areas: 
    'header'
    'welcome'
    'main'
    'right'
    'results'
    'footer';
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    #container {
        grid-template-areas: 
        'header header header'
        'welcome welcome welcome'
        'results main main'
        'results right right'
        'footer footer footer';
    }
}

.header, .main, .right, .footer, .results {
    background-color: rgba(255, 255, 255, 0.95);
    margin: 5px;
    border: 1px solid black;
}

.header, .main, .right, .footer {
    padding: 20px;
}

.header, .results, .footer {
    text-align: center;
}

.header {
    grid-area: header;
}

.welcome {
    grid-area: welcome;
}

.results {
    grid-area: results;
}

.main {
    grid-area: main;
}

.right {
    grid-area: right;
    min-width: 320px;
}

.footer {
    grid-area: footer;
}