.results {
    padding: 0px;
}

.results ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.results li {
    padding: 8px 12px;
    text-align: left;
}

a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

.results li:hover, a:hover, a:focus {
    text-decoration: underline;
    cursor: pointer;
}

.results-header {
    font-family: 'Roboto', Sans-Serif;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 5px;
    display: block;
}

.odd {
    background-color: rgba(158, 158, 158, 0.45);
}

body {
    background-color: #081B23;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.hidden {
    display: none;
}

body * {
    font-family: 'Cabin', Sans-Serif;
    font-size: 16px;
}

h1 {
    font-family: 'Roboto', Sans-Serif;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.right {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.right iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster {
    float: left;
    padding-right: 10px;
}

h2 {
    font-family: 'Roboto', Sans-Serif;
    font-size: 36px;
    text-align: left;
    margin: 0px;
}

.movie-content p {
    text-align: left;
    margin-top: 5px;
}

.release-date sup {
    font-size: 12px;
}

.main ul {
    display: inline-block;
}

.main li {
    margin: 6px;
}

.search-field, .search-button {
    font-size: 20px;
}

.search-field {
    width: 60%;
}

.main img {
    width: 33%;
    max-width: 185px;
}

.cast {
    list-style-type: none;
}

.genre {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 9pt;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 4px;
}

.science-fiction {
    background-color: #0066ff;
    color: white;
}

.action {
    background-color: #990000;
    color: white;
}

.romance {
    background-color: #9900cc;
    color: white;
}

.thriller {
    background-color: #001a00;
    color: white;
}

.crime {
    background-color: #0d0d0d;
    color: white;
}

.comedy {
    background-color: yellowgreen;
}

.drama {
    background-color: #000066;
    color: white;
}

.adventure {
    background-color: #996633;
}

.documentary {
    background-color: orangered;
    color: white;
}

.animation {
    background-color: purple;
    color: white;
}

.family {
    background-color: green;
    color: white;
}

.mystery {
    background-color: #336699;
    color: white;
}

.fantasy {
    background-color: #99ff99;
}

.western {
    background-color: #663300;
    color: white;
}

.horror {
    background-color: #333399;
    color: white;
}

.footer img {
    vertical-align: middle;
}

.error {
    color: darkred;
    font-weight: bold;
    margin-top: 10px;
}