.results {
    padding: 0px;
}

.results ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.results li {
    padding: 8px 5px;
    text-align: left;
}

.results a, .results a:visited {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

.results li:hover, .results a:hover, .results a:focus {
    text-decoration: underline;
    cursor: pointer;
}

.odd {
    background-color: #f2f2f2;
}

body {
    background-color: #f2f2f2;
}

#container {
    background-color: #f2f2f2;
}

.hidden {
    display: none;
}

body * {
    font-family: 'Cabin', Sans-Serif;
    font-size: 16px;
}

h1 {
    font-family: 'Roboto', Sans-Serif;
    font-size: 48px;
}

.right {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.right iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster {
    float: left;
    padding-right: 10px;
}

h2 {
    font-family: 'Roboto', Sans-Serif;
    font-size: 36px;
    text-align: left;
    margin: 0px;
}

.movie-content p {
    text-align: left;
    margin-top: 5px;
}

.release-date sup {
    font-size: 12px;
}

ul {
    clear: both;
    display: inline-block;
}

.search-field, .search-button {
    font-size: 20px;
}

.search-field {
    width: 60%;
}

.main img {
    width: 33%;
    max-width: 185px;
}

.cast {
    list-style-type: none;
}

.genre {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 9pt;
    font-weight: bold;
    margin-right: 2px;
    margin-top: 4px;
}

.science-fiction {
    background-color: #0066ff;
    color: white;
}

.action {
    background-color: #990000;
    color: white;
}

.romance {
    background-color: #9900cc;
    color: white;
}

.thriller {
    background-color: #001a00;
    color: white;
}

.crime {
    background-color: #0d0d0d;
    color: white;
}

.comedy {
    background-color: yellowgreen;
}

.drama {
    background-color: #000066;
    color: white;
}

.adventure {
    background-color: #996633;
}

.documentary {
    background-color: orangered;
    color: white;
}

.animation {
    background-color: purple;
    color: white;
}

.family {
    background-color: green;
    color: white;
}

.mystery {
    background-color: #336699;
    color: white;
}

.fantasy {
    background-color: #99ff99;
}

.western {
    background-color: #663300;
    color: white;
}

.horror {
    background-color: #333399;
    color: white;
}